<h1>Are you a coach or a teacher?</h1>

<br><%= link_to "I'm a Coach", '/coaches/new' %><br><br>
<%= link_to "I'm a Teacher", '/teachers/new' %><br><br>

<%= link_to "I already have an account", 'sessions/new' %>