<br><br>

<h3>Login</h3>

<form action="/show" method="POST">
	<input type="text" name="email" placeholder="email">
	<input type="password" name="password" placeholder="password">
	<input type="submit" value="Log In">
</form>
<form action='/auth/facebook' method="GET">
	<input type="submit" value='Sign-In with Facebook'>
</form>
<form action='/auth/google_oauth2' method="GET">
	<input type="submit" value='Sign-In with Google'>
</form>

<br><br>
<%# If you are new to this app: %>
<%# <form action="/coaches/new" method="GET">
	<input type="submit" value="Sign-Up as a Coach">
</form>
<form action="/teachers/new" method="GET">
	<input type="submit" value="Sign-Up as a Teacher">
</form> %>