
<% if params[:controller] == 'coaches' %>
  <h1>This will show a list of teachers who belong to the coach</h1>
<% else %>
  <h1>This will show a list of posts pertaining to this teacher</h1>
<% end %>
<br>
<%= link_to "Log Out", session_path, method:'delete' %>