
<h1>Coaches</h1>

<h1>Create your dialogue account!</h1>

<h3>Sign Up</h3>
<form action="/coaches" method="POST">
	<input id="first_name" type="text" name="first_name" placeholder="First Name">
	<input id="last_name" type="text" name="last_name" placeholder="Last Name">
	<input id="email" type="text" name="email" placeholder="email">
	<input id="password" type="password" name="password" placeholder="password">
    <input type="submit" value="Sign Up">
</form>
<br>
<%= link_to('Sign-Up with Facebook', '/auth/facebook') %><br>
<%= link_to('Sign-Up with Google', '/auth/google_oauth2') %>