<br><br>
Start a conversation

<% byebug %>
<form action="/posts" method="POST">
	<input id="author" type="text" name="author" value='username here'>
	<input id="recipient" type="text" name="recipient" placeholder="recipient">
	<input id="body" type="text" name="body" placeholder="feedback goes here">
    <input type="submit" value="Create Post">
</form>