<br><br>
Start a conversation

<form action="/posts" method="POST">
	<input id="author" type="hidden" name="author" value= "<%= session[:user_id] %>" >
	<input id="recipient" type="text" name="recipient" placeholder="this should be a dropdown of all friends">
	<input id="body" type="text" name="body" placeholder="feedback goes here">
    <input type="submit" value="Create Post">
</form>